@model RAD2019ClassLibrary.Models.Transcations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transcations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_Account.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Account.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
